<section>
    <div class="container">
        <div class="row">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="Enter Name" name="name">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Category</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="Enter Category" name="category">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Price</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="Enter Price" name="price">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Description</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="Enter Description" name="description">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Image</label>
                    <input type="file" class="form-control" id="formGroupExampleInput2"
                        placeholder="Click to add" name="image">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>

        </div>
    </div>
</section>